<AramexShipmentResponse>
  <Header>
    <RequestID><%= rand(999_999) %></RequestID>
  </Header>
  <Result>
    <Code>SUCCESS</Code>
    <TrackingID><%= rand(9999) %></TrackingID>
    <Quote><%= rand(50) %></Quote>
  </Result>
</AramexShipmentResponse>
