<AramexTrackingResponse>
  <TrackingID><%= rand(9999) %></TrackingID>
  <Status>IN TRANSIT</Status>
  <Location>
    <latitude><%= @coords[:lat] %></latitude>
    <longitude><%= @coords[:long] %></longitude>
  </Location>
</AramexTrackingResponse>
